[Desktop Entry]
Encoding=UTF-8
Name=Icocoin
Comment=Icocoin P2P Cryptocurrency
Comment[fr]=Icocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Icocoin, eşten eşe kriptografik sanal para birimi
Exec=icocoin-qt %u
Terminal=false
Type=Application
Icon=icocoin128
MimeType=x-scheme-handler/icocoin;
Categories=Office;Finance;
